@charset "utf-8";
.wrapper{background: url(../images/bg.jpg) no-repeat center center; background: cover; height: 100vh;}

.main .text{color: #fff; text-align: center; position: absolute; top: 42.5%; left: 50%; transform: translate(-50%, -50%); width: 100%;}
.main .text h1{font-size: 3.083em; font-weight: 900; margin-bottom: 30px;}
.main .text h2{font-size: 1.500em; font-weight: bold; line-height: 1.4;}
.main .text span{display: block;}